[Unit]
Description=Telegram Bot, receiving messages from a Telegram bot

[Service]
User=pi
Group=pi
Type=simple

# We should wait some seconds to get all operating-system related services ready: 
ExecStartPre=/bin/sleep 15

#we start with python skript for processing incoming Telegram messages:
ExecStart=/usr/bin/python /home/pi/message2action/telegram/telegrambot.py

ExecStop=/usr/bin/touch /home/pi/message2action/telegram/stopfile
 
[Install]
WantedBy=multi-user.target
