[Unit]
Description=Telegram Bot, receiving messages from a Telegram bot
# we start only when we have network ready
After=dhcpcd.service	

[Service]
User=pi
Group=pi
Type=simple

#we start with python skript for processing incoming Telegram messages:
ExecStart=/usr/bin/python /home/pi/message2action/telegram/telegrambot.py

ExecStop=/usr/bin/touch /home/pi/message2action/telegram/stopfile
 
[Install]
WantedBy=multi-user.target
